@model string
@{
    ViewData["Title"] = "Access Denied";
}
<h1 class="display-6">Access denied</h1>

<p>You lack the permissions to perform this action.</p>

<p>
    <a class="btn btn-primary" href="/">return to home</a>
</p>