@**@

<form asp-controller="Account" asp-action="Register" method="post">
    @Html.AntiForgeryToken()

    <input type="text" placeholder="Name" name="Name" />
    <input type="text" placeholder="Email" name="Email" />
    <input type="text" placeholder="Password" name="Password" />
    <input type="text" placeholder="Password Confirm" name="PassConfirm" />
    <br>

    <label>
        <input type="radio" name="choice" value="admin" required>
        Admin
    </label>

    <label>
        <input type="radio" name="choice" value="coach" required>
        Coach
    </label>

    <label>
        <input type="radio" name="choice" value="none" checked required>
        Basic User
    </label>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
